[submodule "frontend"]
	path = frontend
	url = https://github.com/TripDownMemoryLane/memoryLaneFrontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/TripDownMemoryLane/backend.git
